/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif */
body {
    padding: 0;
    margin: 0;
    background-color: #0C0A0A;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.background {
    background-image: url(images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.quote {
    width: 99vw;
}

#quoteHead{
    height: 15vh;
    width: 75%;
    margin: auto;
}

main{
    text-align: center;
}

.title{
    font-size: 40pt;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#videosList{
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#videosList a{
    text-decoration: none;
}

.video{
    display: flex;
    background-color: #110E0F;
    font-size: 2em;
    height: 100px;
    width: 300px;
    color: white;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.video:hover{
    transform: scale(1.075);
}

video{
    margin-top: 20px;
    width: 75%;
}

.hidden{
    display: none;
}

#stories{
    width: 75%;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.storyLink{
    text-decoration: none;
    color: white;
}

.story:hover{
    transform: scale(1.025);
}

.story{
    /*display: inline-block;*/
    text-align: left;
    background-color: #161414;
    margin: 10px;
    padding: 1px 20px 10px 20px;
    height: 200px;
    width: 200px;
    text-overflow: ellipsis;
}

.storyMain{
    text-align: center;
}

.storySingle{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background-color: #110E0F;
    color: white;
    padding: 40px;
    font-size: 1.5em;
    width: 60%;
    margin: auto;
}

#homeBtn{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #2e292a;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    margin-top: 20px;
}

#quoteHead{
    margin-top: 100px;
    height: 250px;
}

.quote h1 {
    color: white;
    font-size: 40pt;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #161414;
    
}

form {
    padding: 2%;
    color: white;
    font-family: 'Roboto', sans-serif
}

label{
    margin-left: 2%;
}

#name {
    border: none;
    width: 25%;
    padding: 0.5%;
    border-radius: 2px;
    margin: 0 0 2% 2%;
}

#checkbox{
    margin: 0 0 2% 2%;
    width: 15px;
    height: 15px;
}

#message{
    margin: 0 0 2% 2%;
    width: 95%;
}

#button{
    margin: 0 0 0 2%;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#quoteTag{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.divFooter{
    width: 30%;
}

.linksInfo{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.infoLink{
    color: white;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.logo{
    max-width: 200px;
    margin-bottom: 20px;
}

#logoTec{
    margin: 0;
}

.linksHelp{
    text-align: right;
}

#countries{
    display: flex;
    flex-direction: row;
}

#be{
    text-align: left;
}

h3{
    color: white;
}